<h2>New Catalog</h2>

<% form_for(@catalog, :url => admin_catalog_catalog_path) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<ul class="links">
  <li><%= link_to 'Back', admin_catalogs_path %></li>
</ul>
