<h2>New Role</h2>

<% form_for(@role, :url => admin_roles_path) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<ul class="links">
  <li><%= link_to 'Back', admin_roles_path %></li>
</ul>
