<h2>Themes</h2>

<% @themes.each do |theme| %>
  <div class="theme">
    <% form_for :theme, :url => { :action => "update", :id => theme.canonical }, :html => { :method => :put } do |f| %>
      <div class="description"><%= textilize(theme.description).html_safe %></div>
      <%= f.submit "Activate Theme" %>
    <% end %>
  </div>
<% end %>
