<h2>Settings</h2>

<% form_for :setting, :url => { :action => "update", :id => @settings.object_id }, :html => { :method => :put } do |f| %>
<table>
  <% for setting in @settings %>
    <tr>
      <td><%= f.label setting.key, setting.key.humanize %></td>
      <td><%= f.text_field setting.key, :value => setting.value, :size => 50 %></td>
    </tr>
  <% end %>
</table>

  <%= f.submit "Save Settings" %>
<% end %>
