<h2>Your Events</h2>

<div id="events">
  <% @events.each do |event| %>
    <%= image_tag thumbnail_path(event.catalogs.first.documents.images.first) %>
    <p><%= link_to event.name, event_path(event) %> on <%= event.date.to_s(:date) %></p>
  <% end %>
</div>
