<h1>Blog</h1>

<table>
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to(article.title, article_path(article)) %></td>
      <td><%= article.body %></td>
      <td><%= article.author %></td>
    </tr>
  <% end %>
</table>