<h2>Blog</h2>

<% @articles.each do |article| %>
  <div id="post">
    <h3><%= link_to(article.title, article_path(article)) %></h3>
    <%= textilize(truncate(article.body, :omission => "...", :length => 250)).html_safe %>
    <p><%= link_to("Read More &rarr;".html_safe, article_path(article)) %></p>
  </div>
<% end %>
