<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Chroma32</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :all %>
</head>

<body>
	<p>Content</p>
</body>

</html>